<div *ngIf="catalogue">
    <h2>{{catalogue.name}}
        <span class="badge">({{catalogue.tag}})</span>
    </h2>
    <div id="search-component">
        <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
        <div class="results">
            <div *ngFor="let entry of catalogueEntries | async"
                  class="search-result" >
                <div (click)="showCatalogueEntry(entry)">
                <span class="badge">{{entry.code}}</span> - {{entry.text | slice:0:50}}...
                </div>
            </div>
        </div>
    </div>
    <catalogue-entry [catalogueEntry]="selectedCatalogueEntry"></catalogue-entry>

</div>

