.search-result{
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 600px;
  height: 20px;
  padding: 5px;
  background-color: snow;
  color: darkslategray;
  cursor: pointer;
  overflow: hidden;
}
input {
  width: 610px;
  height: 30px;
  background-color: lightgray;
  color: darkslategray;
}
option{
  color:snow;
}
.form-group{
  padding: 1em;
  font-family: monospace;

}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 8px solid #a94442; /* red */
}

label {
  font-size: 1.3em;
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.results {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}
.results div {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;

}
.results div.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.results div:hover {
  color: #607D8B;
  background-color: #DDD;
}
.results .text {
  position: relative;
}
.button {
  font-size: 1.2em;
  color: white;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
}
